body{
  margin: 10px 10px;
  padding: 10px 10px;
  background-color: white;
}

.about-page h2{
  text-transform: none;
  font-weight: bold;
}
.about-page{
  display: grid;
  gap: 2rem 4rem;
  padding-bottom: 3rem;
}
.about-img{
  border-radius: var(--border-radius);
  height: 200px;

}
@media screen and  (min-width: 992px) {
  .about-page{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
    align-items: center;
  }
  .about-img{
    height: 100%;
  }
};
  
.featured-title{
    text-align: center;
     text-size-adjust: 35px;
}
.img about-img
.recipes-container {
    display: grid;
    gap: 2rem 1rem;
  }

  
.recipes-list {
    display: grid;
    gap: 2rem 1rem;
    padding-bottom: 3rem;
  }

  .tags-container {
    order: 1;
    display: flex;
    flex-direction: row;
    padding-bottom: 3rem;
   
  }

  .tags-container h4 {
    margin-bottom: 0.5rem;
    font-weight: 500;
  }

  .tags-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .tags-list a {
    text-transform: capitalize;
    display: block;
    color:palevioletred;
    transition: 0.3s ease-in-out all;
  }

  .tags-list a:hover {
    color: rgb(41, 21, 219);
  }
  .recipe {
    display: block;
  }
  .recipe-img {
    height: 15rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
  }
  .recipe h5 {
    margin-bottom: 0;
    margin-top: 0.25rem;
    line-height: 1;
    color: green;
  }
  .recipe p {
    margin-bottom: 0;
    line-height: 1;
    color: gray;
    margin-top: 0.5rem;
    letter-spacing: 1px;
  }
  @media screen and (min-width: 576px) {
    .recipes-list {
      grid-template-columns: 1fr 1fr;
    }
    .recipe-img {
      height: 10rem;
    }
  }
  
  @media screen and (min-width: 992px) {
    .recipes-container {
      grid-template-columns: 200px 1fr;
      gap: 1rem;
    }
    .recipes-list {
      grid-template-columns: 1fr 1fr;
    }
  
    .recipe p {
      font-size: 0.85rem;
    }
    .tags-container {
      order: 0;
      
    }
    .tags-list {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .recipe h5 {
      font-size: 1.15rem;
    }
    .recipes-list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
